Django>=4.2,<6
gunicorn
whitenoise
dj-database-url
psycopg[binary]>=3.1
django-widget-tweaks
# Si alguna vez necesitas backports.zoneinfo, que sea SOLO para Python < 3.9:
# backports.zoneinfo ; python_version < "3.9"
openpyxl==3.1.0
pandas=2.2

