{% extends 'base.html' %}

{% block titulo %}
App_Sesur
{% endblock %}

{% block content %}
<h1 class="titulo1">Seguridad Electronica</h1>
<div class="row">

  {% if user.is_staff or user.is_superuser %}
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Registrar Instalaciones</h5>
        <p class="card-text">Espacion reservado para el programador de Instalaciones, si va ingresar en este espacion
          debel ingresar su usuario y contraseña.</p>
        {% if request.user.is_authenticated %}
        {% if not request.user.groups.all.0.name == "Visor" %}
        <a href="{% url 'registro_inst' %}" class="btn btn-primary">Registrar Instalación</a>
        {% else %}
        <button class="btn btn-secondary" disabled title="No tienes permisos para registrar">
          Registrar Instalación
        </button>
        {% endif %}
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary">Iniciar sesión para registrar</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Lista de Instalaciones</h5>
        <p class="card-text">Programacion de Instalaciones, departamento de seguridad electronica, area tecnica.</p>
        <a href="{% url 'lista_instalaciones' %}" class="btn btn-primary">Hoja de Instalaciones</a>
      </div>
    </div>
  </div>

  {% if user.is_superuser %}
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Hoja de Mantenimientos</h5>
        <p class="card-text">Programacion de Mantenimientos, departamento de seguridad electronica, area tecnica.</p>
        <a href="{% url 'listar_mantenimientos' %}" class="btn btn-primary">Hoja de Mantenimientos</a>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}