{% extends 'base.html' %}

{% load widget_tweaks %}

{% block titulo %}
Registro de Instalaciones - App_Sesur
{% endblock %}

{% block content %}
<h1 class="titulo1">SEGURIDAD ELECTRONICA</h1>

<div class="container col-12 col-lg-6 offset-lg-3">
  <h1>Registro de Instalaciones</h1>

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}

  <form method="POST" action="{% url 'registro_inst' %}">
    {% csrf_token %}

    {% for field in form %}
    <div class="form-group mb-3">
      {{ field.label_tag }}

      {% if field.errors %}
      {{ field|add_class:"form-control is-invalid" }}
      <div class="invalid-feedback d-block">
        {% for error in field.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ field|add_class:"form-control" }}
      {% endif %}
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Registrar</button>
  </form>
</div>
{% endblock %}